{% extends 'base.html.twig' %}
{% block title %}
	Inventaire des stocks
{% endblock %}
{% block body %}
	<div
		class="min-h-screen bg-gray-100">
		{# Header #}
		<div class="bg-white shadow-sm border-b border-gray-200">
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
				<div class="flex items-center justify-between">
					<div>
						<h1 class="text-2xl font-bold text-gray-900">
							Mes réservations
						</h1>
						<p class="mt-1 text-sm text-gray-500">
							Suivez les réservations de vos plants par les collaborateurs
						</p>
					</div>
				</div>
			</div>
		</div>
		{# Content #}
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
			<div class="bg-white shadow-sm rounded-lg border border-gray-200 overflow-hidden">
				<div>
					{% include 'includes/search.html.twig' with {'searchForm': searchForm} %}
				</div>
				{# Table #}
				<div class="overflow-x-auto">
					<table class="min-w-full divide-y divide-gray-200">
						<thead class="bg-gray-50">
							<tr>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Date & Commande
								</th>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Plant
								</th>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Quantité Réservée
								</th>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Statut
								</th>
								<th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase">
									Actions
								</th>
							</tr>
						</thead>
						<tbody class="bg-white divide-y divide-gray-200">
							{% for line in orderLines %}
								<tr class="hover:bg-gray-50 transition-colors">
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 font-semibold">
										<div class="text-sm font-medium text-gray-900">
											{{ line.PurchaseOrder.createdAt|date('d/m/Y')}}

										</div>
										<div class="text-sm font-medium text-gray-900">
											{{ line.PurchaseOrder.orderNumber }}
										</div>
									</td>
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 font-semibold">
										<div class="text-sm font-medium text-gray-900">
											{{ line.stock.plant.latinName }}
										</div>
										<div class="text-sm text-gray-500 italic">
											{{ line.stock.plant.commonName }}
										</div>
									</td>
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
										<span class="font-bold">
											{{ line.quantity }}
										</span>
									</td>
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
										{% if line.PurchaseOrder.status == 'Réservation' %}
											<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
												{{ line.PurchaseOrder.status }}
											</span>
										{% elseif line.PurchaseOrder.status == 'Annulée' %}
											<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
												{{ line.PurchaseOrder.status }}
											</span>
										{% else %}
											<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
												{{ line.PurchaseOrder.status }}
											</span>
										{% endif %}
									</td>
									<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium space-x-3">
										<a href="{{ path('app_order_show', {'id': line.PurchaseOrder.id}) }}" class=" text-green-600 hover:text-green-900" title=" voir">
											<twig:ux:icon name="mingcute:eye-line" class="w-6 h-6 inline"/>
										</a>
									</td>
								</tr>

							{% else %}
								<tr>
									<td colspan="7" class="px-6 py-12 text-center text-sm text-gray-500">
										<twig:ux:icon name="iconoir:warning-circle" class="w-6 h-6 inline "/>
										<p class="mt-2">
											Aucun stock répertorié
										</p>
									</td>
								</tr>
							</tbody>
						</tbody>
					</table>
				{% endfor %}
			</div>
		</div>
	</div>
</div></div>{% endblock %}
