{% extends 'base.html.twig' %}

{% block title %}Packaging{% endblock %}

{% block body %}
    <h1>Packaging</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ packaging.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ packaging.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_packaging_index') }}">back to list</a>

    <a href="{{ path('app_packaging_edit', {'id': packaging.id}) }}">edit</a>

    {{ include('packaging/_delete_form.html.twig') }}
{% endblock %}
