<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/logoPepiPlusSFS.png') }}">
		<title>
			{% block title %}Pépi+ - Gestion de stock
			{% endblock %}
		</title>
		{# CSS compilé via Webpack Encore #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Google Fonts #}
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	</head>
	{# templates/base.html.twig #}
	<body
		class="antialiased flex min-h-screen bg-menthe-clair">
		{# Ajout de flex et du fond ici #}
		{% if app.user %}
			{% include 'includes/sidebar.html.twig' %}
		{% endif %}

		{# templates/base.html.twig #}
		<main
			class="flex-1 {% if app.user %}lg:ml-72{% endif %} min-h-screen">

			{# Section des Messages Flash #}
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
				{% for message in app.flashes('success') %}
					<div class="bg-green-50 border border-green-200 text-green-800 px-4 py-3 rounded-lg flex items-center p-4">
						<twig:ux:icon name="bi:check-lg" class="w-5 h-5 mr-2"/>
						<span>{{ message }}</span>
					</div>
				{% endfor %}

				{% for message in app.flashes('error') %}
					<div class="mb-4 bg-red-50 border border-red-200 text-red-800 px-4 py-3 rounded-lg flex items-center p-4">
						<twig:ux:icon name="iconoir:warning-circle" class="w-5 h-5 mr-2"/>
						<span>{{ message }}</span>
					</div>
				{% endfor %}
			</div>

			{% block body %}{% endblock %}
		</main>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
