{% extends 'base.html.twig' %}

{% block title %}
	Modifier le stock
{% endblock %}

{% block body %}
	<div
		class="min-h-screen bg-gray-100">
		{# Header #}
		<div class="bg-white shadow-sm border-b border-gray-200">
			<div class="sm:px-8 lg:px-8 py-6">
				<div class="flex items-center justify-between">
					<div class="flex items-center space-x-3">
						<a href="{{ path('app_stock_gestion_index') }}" class="text-gray-400 hover:text-gray-600">
							<twig:ux:icon name="iconoir:arrow-left" class="w-6 h-6 inline"/>
						</a>
						<div>
							<h1 class="text-2xl font-bold text-gray-900">
								Modifier l'élément
							</h1>
							<p class="mt-1 text-sm text-gray-500">
								ID:
								{{ stock.id }}
							</p>
						</div>
					</div>

					<div class="flex items-center space-x-3">
						<a href="{{ path('app_stock_gestion_show', {'id': stock.id}) }}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition-colors">
							<twig:ux:icon name="mingcute:eye-line" class="w-5 h-5 mr-2"/>
							Voir
						</a>
						{{ include('stock/_delete_form.html.twig') }}

					</div>
				</div>
			</div>
		</div>

		{# Content #}
		<div class="sm:px-8 lg:px-8 py-6">
			{{ include('stock/_form.html.twig', {
            button_label: 'Mettre à jour',
        }) }}
		</div>
	</div>
{% endblock %}
