{% extends 'base.html.twig' %}

{% block title %}
	Inventaire des Commandes
{% endblock %}

{% block body %}
	<div
		class="min-h-screen bg-gray-100">
		{# Header #}
		<div class="bg-white shadow-sm border-b border-gray-200">
			<div class="sm:px-8 lg:px-8 py-6">
				<div class="flex items-center justify-between">
					<div>
						<h1 class="text-2xl font-bold text-gray-900">
							Inventaire des Stocks
						</h1>
						<p class="mt-1 text-sm text-gray-500">
							Gérez vos quantités et emplacements
						</p>
					</div>
					<p class="mt-1 text-sm text-gray-500">
						Pour créer une commande, rendez-vous sur la page des stocks global.
					</p>
				</div>
			</div>
		</div>

		{# Content #}
		<div class="sm:px-8 lg:px-8 py-8">
			<div class="bg-white shadow-sm rounded-lg border border-gray-200 overflow-hidden">
				<div>
					{% include 'includes/search.html.twig' with {'filterForm': filterForm} %}
				</div>
				{# Table #}
				<div class="overflow-x-auto">
					<table class="min-w-full divide-y divide-gray-200">
						<thead class="bg-gray-50">
							<tr>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Numéro de commande
								</th>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Status de commande
								</th>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Créer le
								</th>
								<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
									Mis à jour le
								</th>
								<th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase">
									Actions
								</th>
							</tr>
						</thead>
						<tbody class="bg-white divide-y divide-gray-200">
							{% for order in orders %}
								<tr class="hover:bg-gray-50 transition-colors">
									<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
										{{ order.orderNumber }}
									</td>

									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
										{% if order.status == 'Réservation' %}
											<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
												{{ order.status }}
											</span>
										{% elseif order.status == 'Annulée' %}
											<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
												{{ order.status }}
											</span>
										{% else %}
											<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
												{{ order.status }}
											</span>
										{% endif %}
									</td>
									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
										{{ order.createdAt | date('d-m-Y H:i') }}
									</td>

									<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 italic">
										{{ order.updatedAt | date('d-m-Y H:i') }}
									</td>

									<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium space-x-3">
										{% if order.status == "Réservation" %}
											<a href="{{ path('app_order_edit', {'id': order.id}) }}" class="text-indigo-600 hover:text-indigo-900" title="Modifier">
												<twig:ux:icon name="cuida:edit-outline" class="w-5 h-5 inline"/>
											</a>
										{% endif %}
										<a href="{{ path('app_order_show', {'id': order.id}) }}" class="text-green-600 hover:text-green-900" title="Voir">
											<twig:ux:icon name="mingcute:eye-line" class="w-5 h-5 inline"/>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="7" class="px-6 py-12 text-center text-sm text-gray-500">
										<twig:ux:icon name="iconoir:warning-circle" class="w-6 h-6 inline"/>
										<p class="mt-2">
											Aucune commande répertoriée
										</p>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="mt-4 px-4">
					{{ knp_pagination_render(orders) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
